.container {
  width: 100%;
  padding-right: 0.75rem; /* 12px */
  padding-left: 0.75rem; /* 12px */
  margin-right: auto;
  margin-left: auto;
}

/* sm (≥576px) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* md (≥768px) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* lg (≥992px) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* xl (≥1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* xxl (≥1400px) */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
